@import url(src/styles.scss);

.img {
  width: 250px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 230px;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));

  }
}
.select-add{
  width: 200px;
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  select{
    width: 100%;
    border: none;
    height: 30px;
    background-color: var(--white);
    color: var(--dark-blue);
  }
  #events option{
    border: none;
    background-color: var(--white);
  }
 
}
select option {
  margin-left: 10px; /* Adicione a margem à esquerda desejada */
}

.add-event{
  background-color: var(--light-blue);
  color: var(--golden);
}
.fa-plus{
  color: var(--dark-blue);
}
.fa-plus:hover {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}
.cadastro,
.gerenciamento {
  text-align: center;
  color: #f8f8f8;
  padding-top: 15px;
  margin: 0;
  font-size: 1.3rem;
  font-family: var(--font);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: var(--dark-blue);
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font);
}

.sidebar .button-home {
  border: none;
  text-decoration: none;
  background: none;
}

.sidebar .button-menu,
.btn-exit {
  background-color: var(--golden);
  border: none;
  width: 200px;
  height: 30px;
  margin: 10px 0;
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: 0.3s ease;
}

.sidebar .button-menu:hover {
  background-color: var(--golden-hover);
}

.sidebar .btn-exit {
  background-color: var(--red);
  margin-top: 40px;
}
.sidebar .btn-exit:hover{
  background-color: var(--red-hover);
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar button {
    float: left;
    margin: 4px 0;
  }

  .sidebar .btn-exit {
    margin-top: 0;
  }

  .cadastro,
  .gerenciamento {
    padding: 0;
  }

  div.content {
    margin-left: 0;
  }

  .img {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .sidebar button {
    text-align: center;
    float: none;
  }
}
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
