<div class="header">
  <div class="img"><img src="assets/img/logo-devs2blu.png" alt="logo devs2blu"></div>
  <button class="btn-exit"> SAIR </button>
</div>
<div class="body">
  <h1> AVALIADOR </h1>
  <div class="line"></div>
  <h1> BEM-VINDO! </h1>
  <div class="line"></div>
  <p class="intro"> Está é a sua página de avaliador<span style="font-weight: 500;"> +DEVS2BLU HACK WEEK </span> </p>
  <p> Aqui você acompanha o estado atual das suas avaliações </p>
  <div class="table">
    <h2> ABERTAS </h2>
    <table>
      <thead>
        <tr>
          <th class="bold"> ID </th>
          <th> EQUIPE </th>
          <th> STACK </th>
          <th> CRITÉRIOS </th>
          <th> AÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td> Equipe A </td>
          <td> Stack A </td>
          <td> Critérios A </td>
          <td class="btn-actions">
            <button><i class="fa-solid fa-pencil" style="color: #1890ff;"></i></button>
            <button><i class="fa-regular fa-trash-can" style="color: #dc143c;"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2> AVALIADAS </h2>
  <table>
    <thead>
      <tr>
        <th class="bold"> ID </th>
        <th> EQUIPE </th>
        <th> STACK </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1 </td>
        <td> Equipe A </td>
        <td> Stack A </td>
      </tr>
    </tbody>
  </table>
</div>
