@import url(src/styles.scss);

// -------- HEADER
.header {
  background-color: var(--dark-blue);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.img {
  width: 250px;
  margin-left: 40px;

  img {
    width: 100%;
    height: auto;
  }
}

.btn-exit {
  font-family: var(--font);
  border: none;
  width: 200px;
  height: 30px;
  margin-right: 40px;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--red);
}

// -------- END HEADER
.body {
  padding: 30px 50px;
  font-family: var(--font);
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  font-weight: 400;
  padding: 10px 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.1;
  padding: 2px;
}

.intro {
  padding-top: 15px;
  margin: 0;
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--grey);
  margin: 15px auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th {
  font-weight: 500;
}

thead th,
tbody td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--grey);
}

tbody tr:last-child td {
  border-bottom: none;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
}

.btn-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

h2 {
  font-size: 1.45rem;
  padding: 15px;
}

.bold {
  font-weight: 700;
}
