<div class="body">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th><i class="fa-solid fa-users fa-lg"></i></th>
          <th> NOME </th>
          <th> NOTA FINAL </th>
          <th> AÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="fa-solid fa-user-tie fa-lg"></i></td>
          <td> João Silva </td>
          <td> 19,50 </td>
          <td class="btn-actions">
            <button title="Excluir avaliação"><i class="fa-regular fa-trash-can fa-lg"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
