<div class="body">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th><i class="fa-solid fa-users fa-lg"></i></th>
          <th> NOME </th>
          <th> NOTA FINAL </th>
          <th> AÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rating of data">
          <td><i class="fa-solid fa-user-tie fa-lg"></i></td>
          <td> {{ rating.user.name }} </td>
          <td> {{ rating.grade }} </td>
          <td class="btn-actions">
            <button title="Excluir avaliação"><i class="fa-regular fa-trash-can fa-lg"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="!data">Nenhuma avaliação foi feita para este grupo</span>
  </div>
</div>
