<div class="body">
  <div class="header">
    <h1> DESAFIOS </h1>
    <div class="line"></div>
  </div>
  <div class="input-container">
    <label for="filter"> FILTRAR </label>
    <div class="input-icons">
      <div class="search-input">
        <div class="icon">
          <i class="fas fa-search fa-lg"></i>
        </div>
        <input type="text" class="input-filter" id="filter" [(ngModel)]="filter">
      </div>
      <button class="btn-cadastrar" (click)="openDialog();"> CADASTRAR </button>
    </div>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th class="bold"> ID </th>
          <th> NOME DO DESAFIO </th>
          <th> AÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let challenge of data | filter: filterCols: filter">
          <td> {{ challenge.id }} </td>
          <td> {{ challenge.propositionCriteria.length }} </td>
          <td> {{ challenge.name }} </td>
          <td class="btn-actions">
            <button>
              <i class="fa-solid fa-pencil" (click)="edit(challenge);"></i>
            </button>
            <button>
              <i class="fa-regular fa-trash-can" (click)="remove(challenge);"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.length == 0"><app-no-registry></app-no-registry></div>
</div>
<app-toast></app-toast>
