@import url(src/styles.scss);

// -------- HEADER
.header {
  background-color: var(--dark-blue);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.img {
  width: 250px;
  margin-left: 40px;

  img {
    width: 100%;
    height: auto;
  }
}

.btn-exit {
  font-family: var(--font);
  border: none;
  width: 200px;
  height: 30px;
  margin-right: 40px;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--red);
}

// -------- END HEADER
// ----- CARREGANDO
.body-loading {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  h1{
    font-size: 50px;
    font-weight: 500;
    font-family: var(--font);
    padding: 10px;
    height: auto;
    line-height: 1.3;
  }
}
.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 7.33333em;
  height: 7.33333em;
  margin-left: -3.66667em;
  margin-top: -3.66667em;
}

.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 2em;
  height: 2em;
  background: var(--dark-blue);
  -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
}

.loader-block:nth-child(1) {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}

.loader-block:nth-child(2) {
  -moz-transform: translate(2.66667em, 0);
  -ms-transform: translate(2.66667em, 0);
  -webkit-transform: translate(2.66667em, 0);
  transform: translate(2.66667em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(3) {
  -moz-transform: translate(5.33333em, 0);
  -ms-transform: translate(5.33333em, 0);
  -webkit-transform: translate(5.33333em, 0);
  transform: translate(5.33333em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}

.loader-block:nth-child(4) {
  -moz-transform: translate(0, 2.66667em);
  -ms-transform: translate(0, 2.66667em);
  -webkit-transform: translate(0, 2.66667em);
  transform: translate(0, 2.66667em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}

.loader-block:nth-child(5) {
  -moz-transform: translate(2.66667em, 2.66667em);
  -ms-transform: translate(2.66667em, 2.66667em);
  -webkit-transform: translate(2.66667em, 2.66667em);
  transform: translate(2.66667em, 2.66667em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(6) {
  -moz-transform: translate(5.33333em, 2.66667em);
  -ms-transform: translate(5.33333em, 2.66667em);
  -webkit-transform: translate(5.33333em, 2.66667em);
  transform: translate(5.33333em, 2.66667em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}

.loader-block:nth-child(7) {
  -moz-transform: translate(0, 5.33333em);
  -ms-transform: translate(0, 5.33333em);
  -webkit-transform: translate(0, 5.33333em);
  transform: translate(0, 5.33333em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

.loader-block:nth-child(8) {
  -moz-transform: translate(2.66667em, 5.33333em);
  -ms-transform: translate(2.66667em, 5.33333em);
  -webkit-transform: translate(2.66667em, 5.33333em);
  transform: translate(2.66667em, 5.33333em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}

.loader-block:nth-child(9) {
  -moz-transform: translate(5.33333em, 5.33333em);
  -ms-transform: translate(5.33333em, 5.33333em);
  -webkit-transform: translate(5.33333em, 5.33333em);
  transform: translate(5.33333em, 5.33333em);
}

@-webkit-keyframes pulse {
  from,
  40% {
    background: var(--light-blue);
  }
  to {
    background: #dadada;
  }
}
@-webkit-keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
@keyframes pulse {
  from,
  40% {
    background: var(--dark-blue);
  }
  to {
    background: #dadada;
  }
}
@keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
/* Body styling */
html,
body {
  height: 100%;
}

body {
  background: #999 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNpcmNsZSIgY3k9ImZhcnRoZXN0LXNpZGUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: #999 -moz-radial-gradient(circle farthest-side, #333333, #111111);
  background: #999 -webkit-radial-gradient(circle farthest-side, #333333, #111111);
  background: #999 radial-gradient(circle farthest-side, #333333, #111111);
}
// END LOADING
.ranking-container {
  text-align: center;
  padding: 40px;
}

.podium {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.other-groups {
  text-align: left;

  h1 {
    padding: 20px;
    font-size: 1.4rem;
  }
}

.group {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

// --- CARD
.card {
  position: relative;
  width: 220px;
  height: 275px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: var(--shadow);
  font-family: var(--font);
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  h1 {
    padding: 20px 20px 35px;
    font-size: 1.6rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 30px 10px 15px;
  }

  p {
    padding: 5px;
  }

}

.bold {
  font-weight: 500;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 210px;
  height: 265px;
  z-index: 2;
  //background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  transition: 1s ease;
}

.gold {
  .bg {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }

  .blob {
    background-color: goldenrod;
  }

  .fa-medal {
    color: gold;
  }
}

.silver {
  .bg {
    background: radial-gradient(ellipse farthest-corner at right bottom, #C0C0C0 0%, #A9A9A9 8%, #808080 30%, #696969 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #EAEAEA 8%, #B0B0B0 25%, #707070 62.5%, #707070 100%);
  }

  .blob {
    background-color: silver;
  }

  .fa-medal {
    color: silver;
  }
}

.bronze {
  .bg {
    background: radial-gradient(ellipse farthest-corner at right bottom, transparent 0%, #6C4D28 40%, #7A542E 50%, #8B5A33 60%, #A97142 80%),
      radial-gradient(ellipse farthest-corner at left top, transparent 0%, #6C4D28 40%, #7A542E 50%, #8B5A33 60%, #A97142 80%);
  }

  .blob {
    background-color: #cd7f32;
  }

  .fa-medal {
    color: #cd7f32;
  }
}

.gold-list {
  background-color: gold;
}

.silver-list {
  background-color: silver;
}

.bronze-list {
  background-color: #cd7f32;
}

.gold-list,
.silver-list,
.bronze-list {
  .icon-left .line-y {
    background-color: var(--white);
  }
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

// ---- END CARD
.group {
  display: flex;

  .icon-left {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  i {
    margin-right: 10px;
  }

  .position {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .line-y {
    width: 1px;
    height: 80%;
    background-color: var(--grey);
  }
}


@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}