@import url(src/styles.scss);


// -------- HEADER
.header {
  background-color: var(--dark-blue);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.img {
  width: 250px;
  margin-left: 40px;

  img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
  }
}

.button-login {
  font-family: var(--font);
  border: none;
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  margin-right: 40px;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--light-blue);
  box-shadow: var(--shadow);
  transition: 0.3s ease;
}
.button-login:hover{
  background-color: var(--light-blue-hover);
}
// -------- END HEADER
// ----- CARREGANDO
.body-loading {
  width: 100%;
  text-align: center;
  padding-top: 10px;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1,
  h2 {

    font-weight: 500;
    font-family: var(--font);
    padding: 10px;
    height: auto;
    line-height: 1.3;
  }
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 7.33333em;
  height: 7.33333em;
  margin-left: -3.66667em;
  margin-top: -3.66667em;
}

.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 2em;
  height: 2em;
  background: var(--dark-blue);
  -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
}

.loader-block:nth-child(1) {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}

.loader-block:nth-child(2) {
  -moz-transform: translate(2.66667em, 0);
  -ms-transform: translate(2.66667em, 0);
  -webkit-transform: translate(2.66667em, 0);
  transform: translate(2.66667em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(3) {
  -moz-transform: translate(5.33333em, 0);
  -ms-transform: translate(5.33333em, 0);
  -webkit-transform: translate(5.33333em, 0);
  transform: translate(5.33333em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}

.loader-block:nth-child(4) {
  -moz-transform: translate(0, 2.66667em);
  -ms-transform: translate(0, 2.66667em);
  -webkit-transform: translate(0, 2.66667em);
  transform: translate(0, 2.66667em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}

.loader-block:nth-child(5) {
  -moz-transform: translate(2.66667em, 2.66667em);
  -ms-transform: translate(2.66667em, 2.66667em);
  -webkit-transform: translate(2.66667em, 2.66667em);
  transform: translate(2.66667em, 2.66667em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(6) {
  -moz-transform: translate(5.33333em, 2.66667em);
  -ms-transform: translate(5.33333em, 2.66667em);
  -webkit-transform: translate(5.33333em, 2.66667em);
  transform: translate(5.33333em, 2.66667em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}

.loader-block:nth-child(7) {
  -moz-transform: translate(0, 5.33333em);
  -ms-transform: translate(0, 5.33333em);
  -webkit-transform: translate(0, 5.33333em);
  transform: translate(0, 5.33333em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

.loader-block:nth-child(8) {
  -moz-transform: translate(2.66667em, 5.33333em);
  -ms-transform: translate(2.66667em, 5.33333em);
  -webkit-transform: translate(2.66667em, 5.33333em);
  transform: translate(2.66667em, 5.33333em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}

.loader-block:nth-child(9) {
  -moz-transform: translate(5.33333em, 5.33333em);
  -ms-transform: translate(5.33333em, 5.33333em);
  -webkit-transform: translate(5.33333em, 5.33333em);
  transform: translate(5.33333em, 5.33333em);
}

@-webkit-keyframes pulse {

  from,
  40% {
    background: var(--light-blue);
  }

  to {
    background: #dadada;
  }
}

@-webkit-keyframes show {

  from,
  40% {
    opacity: 0;
  }

  41%,
  to {
    opacity: 1;
  }
}

@keyframes pulse {

  from,
  40% {
    background: var(--dark-blue);
  }

  to {
    background: #dadada;
  }
}

@keyframes show {

  from,
  40% {
    opacity: 0;
  }

  41%,
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #999 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNpcmNsZSIgY3k9ImZhcnRoZXN0LXNpZGUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: #999 -moz-radial-gradient(circle farthest-side, #333333, #111111);
  background: #999 -webkit-radial-gradient(circle farthest-side, #333333, #111111);
  background: #999 radial-gradient(circle farthest-side, #333333, #111111);
}

// END LOADING
.ranking-container {
  text-align: center;
  padding: 40px;
}

.podium {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.other-groups {
  text-align: left;

  h1 {
    padding: 20px;
    font-size: 1.4rem;
  }
}

.group {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

// --- CARD
.card {
  position: relative;
  width: 220px;
  height: 275px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: var(--shadow);
  font-family: var(--font);
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  z-index: 0;
  cursor: pointer;

  h1 {
    padding: 20px 20px 35px;
    font-size: 1.6rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 30px 10px 15px;
  }

  p {
    padding: 5px;
  }

}
.card:hover{
  transform: scale(1.2);
}
// .tremor1 {
//   animation: shake1 3s cubic-bezier(0.36, 2.26, 0.72, -0.64) infinite;
// }
// .tremor2 {
//   animation: shake2 3s cubic-bezier(0.36, 2.26, 0.72, -0.64) infinite;
// }
// .tremor3 {
//   animation: shake3 3s cubic-bezier(0.36, 2.26, 0.72, -0.64) infinite;
// }

.bold {
  font-weight: 500;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 210px;
  height: 265px;
  z-index: 2;
  //background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  transition: 1s ease;
}

.gold {
  .bg {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }

  .blob {
    background-color: goldenrod;
  }

  .fa-medal {
    color: gold;
  }
}

.silver {
  .bg {
    background: radial-gradient(ellipse farthest-corner at right bottom, #C0C0C0 0%, #A9A9A9 8%, #808080b6 30%, #696969a9 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #EAEAEA 8%, #B0B0B0 25%, #707070 62.5%, #707070 100%);
  }

  .blob {
    background-color: silver;
  }

  .fa-medal {
    color: silver;
  }
}

.bronze {
  .bg {
    background: radial-gradient(ellipse farthest-corner at right bottom, #D6A16B 0%, #B57F4B 8%, #865a2e 30%, #7d5431 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #e9ccae 0%, #D6A16B 8%, #B57F4B 25%, #583311e3 62.5%, #583311e3 100%);
  }

  .blob {
    background-color: #cd7f32;
  }

  .fa-medal {
    color: #cd7f32;
  }
}

.gold-list,
.silver-list,
.bronze-list {
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.274);

}

.gold-list {
  background: linear-gradient(to top left, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    linear-gradient(to bottom right, #fff7dd 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.silver-list {
  background: linear-gradient(to top left, #C0C0C0 0%, #A9A9A9 8%, #808080b6 30%, #696969a9 40%, transparent 80%),
    linear-gradient(to bottom right, #e6e6e6 0%, #EAEAEA 8%, #B0B0B0 25%, #707070 62.5%, #707070 100%);
}

.bronze-list {
  background: linear-gradient(to top left, #D6A16B 0%, #B57F4B 8%, #865a2e 30%, #7d5431 40%, transparent 80%),
    linear-gradient(to bottom right, #e9ccae 0%, #D6A16B 8%, #B57F4B 25%, rgba(88, 51, 17, 0.89) 62.5%, rgba(88, 51, 17, 0.89) 100%);
}

.gold-list,
.silver-list,
.bronze-list {
  .icon-left .line-y {
    background-color: var(--white);
  }
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}
.right{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .description{
    width: 70%;
  }
  .note{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 30%;
    max-width: 30%;
    padding-right: 15px;
  }
}
// ---- END CARD
.group {
  display: flex;

  .icon-left {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  i {
    margin-right: 10px;
  }

  .position {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .line-y {
    width: 1px;
    height: 80%;
    background-color: var(--grey);
  }
}

.other-groups .bold,
h2 {
  font-weight: bold;
}


@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

// @keyframes shake1 {
//   0%,
//   100% {
//     transform: translate(0, 0) rotate(0deg);
//   }
//   10%, 30%, 50%, 70%, 90% {
//     transform: translate(-3px, -3px) rotate(-3deg);
//   }
//   20%, 40%, 60%, 80% {
//     transform: translate(3px, 3px) rotate(3deg);
//   }
// }

// @keyframes shake2 {
//   0%,
//   100% {
//     transform: translate(0, 0) rotate(0deg);
//   }
//   10%, 30%, 50%, 70%, 90% {
//     transform: translate(2px, -2px) rotate(2deg);
//   }
//   20%, 40%, 60%, 80% {
//     transform: translate(-2px, 2px) rotate(-2deg);
//   }
// }

// @keyframes shake3 {
//   0%,
//   100% {
//     transform: translate(0, 0) rotate(0deg);
//   }
//   10%, 30%, 50%, 70%, 90% {
//     transform: translate(-4px, 0px) rotate(-4deg);
//   }
//   20%, 40%, 60%, 80% {
//     transform: translate(4px, 0px) rotate(4deg);
//   }
// }

@media screen and (max-width: 780px) {
  .other-groups {
    h1 {
      font-size: 1.2rem; /* Reduza o tamanho da fonte para telas menores */
    }
    
    .group {
      display: flex;
      flex-direction: column; /* Altere para layout de coluna em telas menores */
    }

    .icon-left {
      display: flex;
      align-items: center;
      padding-right: 10px;
      margin-bottom: 10px; /* Adicione margem inferior para separar os grupos na lista */
    }

    .position {
      padding: 10px;
      font-size: 1.2rem; /* Reduza o tamanho da fonte para telas menores */
    }

    .line-y {
      width: 100%;
      height: 1px; /* Altere para uma linha horizontal */
      margin: 10px 0; /* Adicione margens para espaçamento entre os elementos */
    }
  }
}