<div class="dialog-form">
  <h2> Formulário de Equipe </h2>
  <div class="line"></div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);">
    <div class="input-container">
      <label for="representative"> REPRESENTANTE </label>
      <div class="input-group">
        <div class="icon">
          <i class="fas fa-user fa-lg"></i>
        </div>
        <input type="text" class="input-form" id="representative" placeholder="Ex. Nome Sobrenome"
          formControlName="name">
      </div>
    </div>
    <div class="input-container">
      <label for="user"> USUÁRIO </label>
      <div class="input-group">
        <div class="icon">
          <i class="fas fa-user fa-lg"></i>
        </div>
        <input type="text" class="input-form" id="user" placeholder="Ex.: nome.sobrenome" formControlName="username">
      </div>
      <div class="form-actions">
        <button type="button" class="cancel" mat-dialog-close> Cancelar </button>
        <button type="submit" class="submit"> Enviar </button>
      </div>
    </div>
  </form>
</div>
