<div class="body">
  <div class="main">
    <div class="header">
      <h1> APRESENTAÇÕES </h1>
      <div class="line"></div>
    </div>
    <div class="input-container">
      <div class="input-icons">
        <div class="search-input">
          <div class="icon">
            <i class="fas fa-search fa-lg"></i>
          </div>
          <input type="text" class="input-filter" id="filter" [(ngModel)]="filter" placeholder="FILTRAR">
        </div>
        <button *ngIf="event?.isClosed === false" class="btn-action btn-save" (click)="saveOrder();"> SALVAR ORDEM </button>
        <button *ngIf="event?.isClosed === false" class="btn-action btn-finish" (click)="openDialog({action: 'close', event});"> ENCERRAR EVENTO </button>
        <button *ngIf="event?.isPublic === false && event?.isClosed === true" class="btn-action btn-publish" (click)="openDialog({action: 'publish', event});"> PUBLICAR RESULTADOS </button>
      </div>
      <div cdkDropListGroup>
        <div class="table-container" cdkDropList [cdkDropListData]="day" (cdkDropListDropped)="drop($event)" *ngFor="let day of data; index as idxDay">
          <h3 class="day-date bold"> {{ day.date | date:'dd/MM/yyyy' }} </h3>
          <table>
            <thead>
              <tr>
                <th></th>
                <th class="bold"> ORDEM </th>
                <th> PROJETO </th>
                <th> STACK </th>
                <th> AVALIAÇÕES </th>
              </tr>
            </thead>
            <tbody>
              <tr class="row-box" *ngFor="let group of day.groups | filter: filterCols: filter; index as idxGroups" cdkDrag [cdkDragDisabled]="filter.length > 0 || event?.isClosed" cdkDragPreviewContainer="parent" cdkDragLockAxis="y">
                <td><i [ngClass]="{ 'drag-handle-disabled': filter.length > 0 || event?.isClosed}" class="fa-solid fa-up-down-left-right await" cdkDragHandle></i></td>
                <td> {{ day.groups.indexOf(group) + 1 }} </td>
                <td> {{ group.projectName }} </td>
                <td> {{ group.language.charAt(0).toUpperCase() + group.language.slice(1) }} </td>
                <td>
                  <button class="btn-list-evaluators" (click)="openDialogEvaluators(group.ratings);"> Exibir avaliadores [ {{ group.ratings ? group.ratings.length : 0 }} ] </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="data.length === 0"><app-fetch-empty></app-fetch-empty></div>
    </div>
  </div>
  <div class="footer"><app-footer-credits></app-footer-credits></div>
</div>
<app-toast></app-toast>
