@import url(src/styles.scss);

.body {
  padding: 30px;
  font-family: var(--font);
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--grey);
  margin: 15px auto;
}

label {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
  color: var(--dark-blue);
}

input {
  width: 100%;
  height: 50px;
  border: 1px solid var(--grey);
  padding: 10px;
  outline: none;
}

input:focus {
  border-color: var(--dark-blue);
}

.input-container {
  padding: 0 40px;
}

.input-icons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-input {
  display: flex;
  width: 100%;
}

.icon {
  background-color: var(--dark-blue);
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sortear {
  border: none;
  text-decoration: none;
  width: 250px;
  height: 50px;
  background-color: var(--dark-blue);
  color: var(--white);
  transition: 0.3s ease;
}

.btn-sortear:hover {
  background-color: var(--dark-blue-hover);
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
}

.title-table {
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.6rem;
  padding: 30px 0;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th {
  font-weight: 500;
}

thead th,
tbody td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--grey);
}

tbody tr:last-child td {
  border-bottom: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.fa-lg{
  color: var(--white);
}
.fa-play {
  color: var(--green)
}

.fa-stop {
  color: var(--red);
}
.td-accordion{
  width: 500px;
}
.example-accordion-item-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.li-evaluators{
  width: 100%;
  display: flex;
  height: 1.5rem;
  .name-evaluator{
    width: 50%;
    font-style: italic;
    text-align: left;
  }
  .button-delete{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    .btn-confirm{
      background-color: var(--red);
      color: var(--white);
      padding: 0 4px;
      border-radius: 3px;
    }
    .btn-closeP{
      background-color: var(--grey);
      color: var(--white);
      padding: 0 4px;
      border-radius: 3px;
    }
  }
  
}
.fa-trash-can{
  color: var(--red);
}
@media screen and (max-width: 768px) {
  .input-icons {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-sortear {
    width: 100%;
  }

  table {
    max-width: 100vw;
    font-size: 0.8rem;
  }

  .body {
    padding: 30px 0;
  }
}
@media screen and (max-width: 400px){

  .li-evaluators{
    height: auto;
  }
  .button-delete{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .name-evaluator{
    display: flex;
    align-items: center;
  }
}