<div class="body">
  <div class="main">
  <div class="header">
    <h1> APRESENTAÇÕES </h1>
    <div class="line"></div>
  </div>
  <div class="input-container">
    <label for="filter"> FILTRAR </label>
    <div class="input-icons">
      <div class="search-input">
        <div class="icon">
          <i class="fas fa-search fa-lg"></i>
        </div>
        <input type="text" class="input-filter" id="filter" [(ngModel)]="filter">
      </div>
      <button class="btn-finish" (click)="openDialog()"> ENCERRAR APRESENTAÇÕES </button>
    </div>
  </div>
  <h2 class="title-table"> EM ESPERA </h2>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="table await">
      <table>
        <thead>
          <tr>
            <th class="bold"> ORDEM </th>
            <th> NOME DA EQUIPE </th>
            <th> STACK </th>
            <th> NOME DO PROJETO </th>
            <th> ENCERRAR </th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-box" *ngFor="let item of items | filter:filterCols:filter; index as i" cdkDrag>
            <td>{{orderNumbers + i}}</td>
            <td>{{item.equipe}}</td>
            <td>{{item.stack}}</td>
            <td>{{item.nomeequipe}}</td>
            <td><button><i class="fa-solid fa-circle-stop fa-lg"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="data.length == 0"><app-no-registry></app-no-registry></div>

  <h2 class="title-table"> FINALIZADAS </h2>
  <div class="table finish">
    <table>
      <thead>
        <tr>
          <th> <i class="fa-solid fa-users-line fa-lg users-list"></i> </th>
          <th> EQUIPE </th>
          <th> STACK </th>
          <th> AVALIAÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items | filter:filterCols:filter; let i = index">
          <tr>
            <td> <i class="fa-solid fa-users users-list"></i> </td>
            <td> {{item.equipe}} </td>
            <td> {{item.stack}} </td>
            <td><button class="btn-list-evaluators" (click)="openDialogEvaluators()">Ver lista de avaliadores</button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.length == 0"><app-no-registry></app-no-registry></div>
</div>
<div class="footer">
  <app-footer-credits></app-footer-credits>
</div>
</div>
