<div class="body">
  <div class="header">
    <h1> APRESENTAÇÕES </h1>
    <div class="line"></div>
  </div>
  <div class="input-container">
    <label for="filter"> FILTRAR </label>
    <div class="input-icons">
      <div class="search-input">
        <div class="icon">
          <i class="fas fa-search fa-lg"></i>
        </div>
        <input type="text" class="input-filter" id="filter" [(ngModel)]="filter">
      </div>
      <button class="btn-finish" (click)="openDialog()"> ENCERRAR APRESENTAÇÕES </button>
    </div>
  </div>
  <div *ngIf="data.length == 0"><app-no-registry></app-no-registry></div>
  <h2 class="title-table"> EM ESPERA </h2>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="table await">
      <table>
        <thead>
          <tr>
            <th class="bold"> ORDEM </th>
            <th> NOME DA EQUIPE </th>
            <th> STACK </th>
            <th> NOME DO PROJETO </th>
            <th> ENCERRAR </th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-box" *ngFor="let item of items | filter:filterCols:filter; index as i" cdkDrag>
            <td>{{orderNumbers + i}}</td>
            <td>{{item.equipe}}</td>
            <td>{{item.stack}}</td>
            <td>{{item.nomeequipe}}</td>
            <td><button><i class="fa-solid fa-circle-stop fa-lg"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h2 class="title-table"> FINALIZADAS </h2>
  <div class="table finish">
    <table>
      <thead>
        <tr>
          <th class="bold"> ID </th>
          <th> EQUIPE </th>
          <th> STACK </th>
          <th> AVALIAÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items | filter:filterCols:filter; let i = index">
          <tr>
            <td> {{item.id}} </td>
            <td> {{item.equipe}} </td>
            <td> {{item.stack}} </td>
            <td class="td-accordion">
              <cdk-accordion class="example-accordion">
                <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
                  tabindex="0" [attr.id]="'accordion-header-' + '{{item.id}}'"
                  [attr.aria-controls]="'accordion-body-' + '{{item.id}}'">
                  <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                    Avaliações por avaliador
                    <span>
                      <i
                        [ngClass]="{'fa-solid': true, 'fa-angle-up': accordionItem.expanded, 'fa-angle-down': !accordionItem.expanded}"></i>
                    </span>
                  </div>
                  <div class="example-accordion-item-body" role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + '{{item.id}}'"
                    [attr.aria-labelledby]="'accordion-header-' + '{{item.id}}'">
                    <ul>
                      <li class="li-evaluators" *ngFor="let item of avaliadores">
                        <div class="name-evaluator">{{ item.name }} | <span class="color-score">Nota Final: 8.7 </span>
                        </div>
                        <div class="button-delete">
                          <button *ngIf="item.isIconVisible" class="delete-evaluator"
                            (click)="item.isIconVisible = false">
                            <i class="fa-regular fa-trash-can"></i>
                          </button>

                          <div class="button-delete" *ngIf="!item.isIconVisible">
                            <button class="btn-closeP" (click)="closePopover(item)">Cancelar</button>
                            <button class="btn-confirm" (click)="confirmDelete(item)">Deletar</button>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
