<div class="body">
  <div class="header">
    <h1> AVALIADORES </h1>
    <div class="line"></div>
  </div>
  <div class="input-container">
    <label for="filter"> FILTRAR </label>
    <div class="input-icons">
      <div class="search-input">
        <div class="icon">
          <i class="fas fa-search fa-lg"></i>
        </div>
        <input type="text" class="input-filter" id="filter">
      </div>
      <button class="btn-cadastrar" (click)="openDialog();"> CADASTRAR </button>
    </div>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th class="bold"> ID </th>
          <th> NOME </th>
          <th> USUÁRIOS </th>
          <th> SENHA </th>
          <th> AÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evaluator of data">
          <td> {{ evaluator.id }}</td>
          <td> {{ evaluator.name }} </td>
          <td> {{ evaluator.username }} </td>
          <td>
            <button type="button" class="btn btn-generate-password" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="aqui vai a senha"> Gerar senha </button>
          </td>
          <td class="btn-actions">
            <button>
              <i class="fa-solid fa-pencil" (click)="edit(evaluator);"></i>
            </button>
            <button>
              <i class="fa-regular fa-trash-can" (click)="remove(evaluator);"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto"> HACK WEEK Serviços </strong>
    <small> {{ elapsedTime }} </small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ notification }}
  </div>
</div>
