<div class="body">
    <div class="header">
        <h1>AVALIADORES</h1>
        <div class="line"></div>
    </div>
    <div class="input-container">
        <label for="filter">FILTRAR</label>
        <div class="input-icons">
            <div class="search-input">
                <div class="icon">
                    <i class="fas fa-search fa-lg" style="color: #ffffff;"></i>
                </div>
                <input type="text" class="input-filter" id="filter">
            </div>

            <button class="btn-cadastrar" (click)="openDialog()">CADASTRAR</button>
        </div>

    </div>

    <div class="table">
        <table>
            <thead>
              <tr>
                <th><b>ID</b></th>
                <th>NOME</th>
                <th>USUÁRIOS</th>
                <th>SENHA</th>
                <th>AÇÕES</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Franciscleide</td>
                <td>francs_senior</td>
                <td>@S45sb97q3</td>
                <td class="btn-actions">
                  <button><i class="fa-solid fa-pencil" style="color: #1890ff;"></i></button>
                  <button><i class="fa-regular fa-trash-can" style="color: #dc143c;"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

</div>


