<div class="body">
  <div class="header">
    <h1> AVALIADORES </h1>
    <div class="line"></div>
  </div>
  <div class="input-container">
    <label for="filter"> FILTRAR </label>
    <div class="input-icons">
      <div class="search-input">
        <div class="icon">
          <i class="fas fa-search fa-lg"></i>
        </div>
        <input type="text" class="input-filter" id="filter" [(ngModel)]="filter">
      </div>
      <button class="btn-cadastrar" (click)="openDialog();"> CADASTRAR </button>
    </div>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th class="bold"> ID </th>
          <th> NOME </th>
          <th> USUÁRIOS </th>
          <th> SENHA </th>
          <th> AÇÕES </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evaluator of data | filter:filterCols:filter">
          <td> {{ evaluator.id }}</td>
          <td> {{ evaluator.name }} </td>
          <td> {{ evaluator.username }} </td>
          <td>
            <button type="button" class="btn btn-generate-password" [popover]="popTemplate" [outsideClick]="true" (onShown)="generatePassword(evaluator)" placement="bottom"> Gerar senha </button>
            <ng-template #popTemplate>{{ newPassword }}</ng-template>
          </td>
          <td class="btn-actions">
            <button>
              <i class="fa-solid fa-pencil" (click)="edit(evaluator);"></i>
            </button>
            <button>
              <i class="fa-regular fa-trash-can" (click)="remove(evaluator);"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-toast></app-toast>
