<div class="body">
  <div class="main">
    <app-header>
      <button class="btn-exit" (click)="logout();"> SAIR </button>
    </app-header>
    <div class="content">
      <h1> AVALIADOR </h1>
      <div class="line"></div>
      <h1> BEM-VINDO! </h1>
      <div class="line"></div>
      <p class="intro"> Esta é a sua página de avaliador <span style="font-weight: 500;"> +DEVS HACK WEEK </span></p>
      <p> Aqui você pode acompanhar o estado atual das suas avaliações </p>
      <div class="table">
        <h2> ABERTAS </h2>
        <table>
          <thead>
            <tr>
              <th> <i class="fa-solid fa-users fa-lg"></i> </th>
              <th> EQUIPE </th>
              <th> STACK </th>
              <th> AVALIAR </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td> <i class="fa-solid fa-user-group fa-lg"></i> </td>
              <td> {{item.projectName}} </td>
              <td> {{item.language.charAt(0).toUpperCase() + item.language.slice(1)}} </td>
              <td class="btn-actions">
                <button (click)="openDialog(item);"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="data.length == 0"><app-fetch-empty></app-fetch-empty></div>
      </div>
    </div>
  </div>
  <div class="footer"><app-footer-credits></app-footer-credits></div>
</div>
<app-toast></app-toast>